<VirtualHost {{ apache_virtualhost[item.key]["vars"]["ip"] | default(none) }}:{{ apache_virtualhost[item.key]["vars"]["port"] | default(none)}} >
	{% if apache_virtualhost[item.key]["vars"]["ServerName"] is defined %}
	ServerName {{ apache_virtualhost[item.key]["vars"]["ServerName"] }}
	{% endif %}
	{% if apache_virtualhost[item.key]["vars"]["ServerAdmin"] is defined %}
	ServerAdmin {{ apache_virtualhost[item.key]["vars"]["ServerAdmin"] }}
	{% endif %}
	{% if apache_virtualhost[item.key]["vars"]["DocumentRoot"] is defined %}
	DocumentRoot {{ apache_virtualhost[item.key]["vars"]["DocumentRoot"] }}
	{% endif %}
	{% if apache_virtualhost[item.key]["vars"]["ErrorLog"] is defined %}
	ErrorLog {{ apache_virtualhost[item.key]["vars"]["ErrorLog"] }}
	{% endif %}
	{% if apache_virtualhost[item.key]["vars"]["CustomLog"] is defined %}
	CustomLog {{ apache_virtualhost[item.key]["vars"]["CustomLog"] }}
	{% endif %}
	{% if apache_virtualhost[item.key]["vars"]["SSLEngine"] is defined and apache_virtualhost[item.key]["vars"]["SSLEngine"] -%}
	SSLEngine {{ apache_virtualhost[item.key]["vars"]["SSLEngine"] }}
	{% endif -%}
	{% if apache_virtualhost[item.key]["vars"]["SSLEngine"] is defined and apache_virtualhost[item.key]["vars"]["SSLEngine"] -%}
	SSLCertificateFile	{{ apache_virtualhost[item.key]["vars"]["SSLCertificateFile"] }}
	{% endif -%}
	{% if apache_virtualhost[item.key]["vars"]["SSLEngine"] is defined and apache_virtualhost[item.key]["vars"]["SSLEngine"] -%}
	SSLCertificateKeyFile {{ apache_virtualhost[item.key]["vars"]["SSLCertificateKeyFile"] }}
	{% endif -%}
</VirtualHost>

<Directory "/usr/share/zabbix">
    Options FollowSymLinks
    AllowOverride None
    Require all granted

    <IfModule dir_module>
        DirectoryIndex index.php
    </IfModule>

    <FilesMatch \.(php|phar)$>
        SetHandler "proxy:unix:{{ php_const[ansible_os_family][php.src]['php_fpm_unix_socket_path'] }}{{ php_fpm[item.key]['vars']['unix_socket']['file'] }}|fcgi://localhost"
    </FilesMatch>
</Directory>

<Directory "/usr/share/zabbix/conf">
    Require all denied
</Directory>

<Directory "/usr/share/zabbix/app">
    Require all denied
</Directory>

<Directory "/usr/share/zabbix/include">
    Require all denied
</Directory>

<Directory "/usr/share/zabbix/local">
    Require all denied
</Directory>

<Directory "/usr/share/zabbix/vendor">
    Require all denied
</Directory>